.chat-body-container {
  display: grid;
  grid-template-rows: 1fr 12fr 3fr;
  grid-template-columns: repeat(5, 1fr);
  grid-template-areas:
    "header header header header header"
    "main main main main users"
    "text-input text-input text-input text-input send-button";
  width: 100%;
  height: 100vh;
}

.main-container {
  grid-area: main;
  border: 1px solid black;
  overflow-y: auto;
  max-height: 100%;
  max-width: 100%;
}

.message {
  width: 60%;
  max-width: 60%;
}

.users-container {
  grid-area: users;
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  overflow-y: auto;
  min-width: 100%;
  width: 100%;
}

.header-container {
  grid-area: header;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100%;
}

.text-input {
  grid-area: text-input;
  height: 60%;
  align-self: center;
}

.send-button {
  grid-area: send-button;
  height: 60%;
  align-self: center;
}
